/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
       color: #1D1D1E;
       background-color: #1D1D1E;

   }
   /*FONTS*/
   @font-face {
     font-family: "lovelo";
     src: url("../font/lovelo.otf");
   }
   @font-face {
     font-family: "novecentobook";
     src: url("../font/novecentobook.ttf");
   }
   @font-face {
     font-family: "biko";
     src: url("../font/biko.otf");
   }

   /*==============MOBILE FIRST===============*/
   @media (min-width:320px) {

.englobeur{
  border: 4px solid #000;

}
.englobeur p:hover{
  color: #D8383F;
}


.englobeur p {

  font-size: 12px;

}

.expander-light {
  position: relative;
  width: 100%;
  background-color: #FFF;
  height: 300px;
}
}


   /*==================*/
   /*HEADER PART*/
   /*==================*/
   .entete
    {
       background-color: rgb(0,0,0);
       height: 80px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: row-reverse;
     }
    .no-mobile
    {
       display:none;
    }

   .nav-mobile-right
    {
       display:flex;
       justify-content: flex-end;
       align-content: center;
       align-self: center;
       width: 40%;
       margin-right: 10px;
     }
    .entete a
    {

       text-decoration: none;
       color: white;
    }

   .info i, .entete a
   {
       color: white;
   }
   .info, .button-burger
   {
       margin-left: 8px;
   }
   .logo-palais
   {

       align-self: center;
       height:85%;
       width: 10%;
       margin-left: 20px;
       background-image: url("../img/logo-lille.svg");
       background-size:contain;
       background-repeat: no-repeat;
   }
   .logo-palais   img
   {

      width: 100%;
      height: 100%;
   }
               /*--------------style for dropdown menu-----------*/

   .button-burger
   {
       position: relative;
       display: inline-block;
   }


   .menu-cache
   {
       display: none;
       position: absolute;
       background-color: black;
       width: 300px;
       overflow: auto;
       right:  0;
       z-index:100;
       top: 50px;
       padding: 80px 50px 50px;
   }
   .menu-cache  a  .icon
   {
        font-size: 13px;
        color: white;
   }

   .menu-cache a
   {
       color: white;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
   }
   .show
   {
       display:block;
   }

   /*start of section visite*/
   .parcours
   {
     position: relative;
   }

   .white
   {
     position: absolute;
     background-color: white;
     z-index: 5;
     top:0;
     margin: auto;
     margin-left: 12%;

   }

   .white span
   {

   }

   .titre
   {
     font-size: 2em;
     font-weight: bold;
   }



   /*end of section visite*/
   /*==================*/
   /*SECTION PRESENTATION*/
   /*==================*/
   #presentation

   {
     background-image: url("../img/Palais-des-Beaux-Arts-de-Lille.jpg");
     width: 100%;
     height: 500px;
     background-size: cover;
     display:flex;
     flex-direction: column;
     align-items: center;
   }


   #presentation .collections, #presentation .visiter, #presentation .titre-blanc
   {
     width: 70%;
     align-self: center;
     text-decoration: none;

   }

   .titre-blanc .titre, .titre-blanc .titre img
   {
     width: 100%;

   }


   #presentation .les-dessins, .les-2-dessins, .les-3-dessins
   {
     align-self: center;
     height: 25px;
   }

   #presentation .les-dessins
   {
     width: 100%;
     border-top: 8px solid white;
     border-right: 8px solid white;
   }
   .les-2-dessins
   {
     width:100%;
     border-bottom:8px solid white;
     border-left: 8px solid white;
   }
   #presentation .les-dessins, .les-2-dessins
   {
     margin-top: 2em;
   }

   .les-3-dessins
   {
     width:100%;
     height: 20px;
     align-self: center;
     /*border-bottom:8px solid white;*/
     border-right:  8px solid white;
     border-right:  8px solid white;
   }


   #presentation .collection
   {
      text-align: center;
      color:white;

   }
   #presentation .collection span
   {
      color: white;
      font-size: 25px;
   }
   #presentation .collection span:hover
   {
     color:rgb(184,72,76);
   }
   #presentation .collection h2
   {
     font-size: 25px;
     font-weight: bold;
   }
   #presentation .collection p
   {
     font-size: 10px;
     font-weight: bold;
   }

       /*------End of section presentation-------*/


       /*==================*/
       /*SECTION EVENEMENT*/
       /*==================*/
       #evenement .carousel-inner .carousel-item
       {
         height: 400px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
       }

       #evenement .carousel-inner .carousel-item:nth-child(1)
       {
         background-image: url(../img/vieilhomme.jpg);
       }

       #evenement .carousel-inner .carousel-item:nth-child(2)
       {
         background-image: url(../img/relieflille.jpg);
       }

       #evenement .carousel-inner .carousel-item:nth-child(3)
       {
         background-image: url(../img/rouge.jpg);
       }

       #evenement .carousel-inner .carousel-item:nth-child(4)
       {
         background-image: url(../img/solgris.jpg);
       }

       #evenement .carousel-inner .carousel-item:nth-child(5)
       {
         background-image: url(../img/selfie.jpg);
       }

       /*Carousel Caption Contents*/
       #evenement .carousel-inner .carousel-item .carousel-caption
       {
         margin-bottom: 10px;
       }
       #evenement .carousel-inner .carousel-item .carousel-caption a
       {
         color: #FFF;
       }

       #evenement .carousel-inner .carousel-item .carousel-caption p:nth-child(1)
       {
         font-size: 12px;
         font-weight: bold;
         margin-bottom: 3em;
       }

       #evenement .carousel-inner .carousel-item .carousel-caption i
       {
         color: #FFF;
       }

       #evenement .carousel-inner .carousel-item .carousel-caption h2
       {
         font-family: "lovelo";
         font-size: 23px;
       }

       #evenement .carousel-inner .carousel-item .carousel-caption .prez
       {
         font-family: "novecentobook";
         font-size: 23px;
       }

       #evenement .carousel-inner .carousel-item .carousel-caption .date
       {
         font-family: sans-serif;
         font-weight: bold;
       }

       #evenement .carousel-inner .carousel-item .carousel-caption .lockbartop
       {
       height: 14px;
       width: 100%;
       border: 8px solid #FFF;
       border-bottom: none;
       }

       #evenement .carousel-inner .carousel-item .carousel-caption .lockbarbot
       {
       height: 14px;
       width: 100%;
       border: 8px solid #FFF;
       border-top: none;
       }

       #evenement #prevI, #evenement #nextI
       {
         color: #FFF;
       }

       #evenement #carouselIndicators ol li
       {
         height: 12px;
         max-width: 12px;
         border: 2px solid white;
       }

       /*==================*/
       /*END OF SECTION EVENEMENT*/
       /*==================*/
       /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

       /*==================*/
       /*SECTION OEUVRE*/
       /*==================*/
       #titregalerie
       {
         text-align: center;
         color: #FFF;
         background-color: #1D1D1E;
       }

       #titregalerie h3
       {
         font-family: "lovelo";
         font-size: 17px;
         padding-top: 22px;
       }

       #titregalerie p
       {
         font-family: "biko";
         font-size: 10px;
         margin-top: -10px;
         margin-bottom: -5px;
       }

       #titregalerie i
       {
         font-size: 10px;
         margin-right: 20px;
         color: inherit;
       }

       #oeuvreclé div
       {
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         height: 430px;
         display: flex;
       }

       #oeuvreclé div:nth-child(1)
       {
         background-image: url(../img/1eOeuvre.jpg);
       }

       #oeuvreclé div:nth-child(2)
       {
         background-image: url(../img/2eOeuvre.jpg);
       }

       #oeuvreclé div:nth-child(3)
       {
         background-image: url(../img/3eOeuvre.jpg);
       }

       #oeuvreclé div:nth-child(4)
       {
         background-image: url(../img/4eOeuvre.jpg);
       }

       #oeuvreclé .whiteArt
       {
         align-content: flex-end;
         width: 250px;
         height: 170px;
         background-color: #FFF;
         margin: auto;
         padding: 23.5px 20px 0px 23.5px;
         color: black;
       }

       #oeuvreclé .whiteArt h3
       {
         font-family: "lovelo";
         font-size: 20px;
       }

       #oeuvreclé .whiteArt p
       {
         font-family: "biko";
         font-size: 13px;
       }
/*=============END SECTION OEUVRE===============*/
/*=============================================*/

/*=================START PART BLACK============*/
/*=============================================*/

.bloc-button-gallerie {

    height: 121px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 6px;

}
.callToAction--picto-archive:hover, .Home-page .bloc-button-gallerie .callToAction--picto-archive:active, .Home-page .bloc-button-gallerie .callToAction--picto-archive:focus, .Home-page .bloc-button-gallerie .callToAction--picto-archive:hover .svg-picto-archive .st0, .Home-page .bloc-button-gallerie .callToAction--picto-archive:active .svg-picto-archive .st0, .Home-page .bloc-button-gallerie .callToAction--picto-archive:focus .svg-picto-archive .st0 {
    color: #D8383F;
    border-color: #D8383F;
    fill: #D8383F;
}
.callToAction--picto-archive {
  display: inline-block;
  vertical-align: middle;
  height: 85px;
    background-color: transparent;
    border: solid 3px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    min-height: 85px;
    width: 650px;
    color: white;
    border-color: white;
    text-transform: uppercase;
    font-family: "lovelo";
    font-size: 24px;
    max-width: 100%;

    position: relative;


}
#instagram .title {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}
#instagram .title .icon {
    font-size: 45px;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}

.text{
  color: white;
}
#instagram .insta-gallery{
  padding: 0px;
}
#instagram .insta-gallery li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
}
#instagram .insta-gallery li a {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    position: relative;
}
.insta-gallery li:hover{

  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 red);
  filter: opacity(0.5) drop-shadow(0 0 0 red);
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/*=======================END PART BLACK============*/

/*===============PART BANDE ADDITIONNEL===========*/

.bandeauApp {
    position: relative;
    min-height: 150px;
    width: 100%;
    background-color: #D8383F;
    color: #FFF;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.bandeauApp .imgDevices {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 60%;
    color: white;
}
.bandeauApp p {
    font-family: "novecentobook";
    font-size: 24px;
    /*font-size: 2.4rem;*/
    margin-left: 42%;
    vertical-align: middle;
    padding-top: 51px;
    text-align: left;
    padding-bottom: 35px;
}
.bandeauApp p span {
    font-family: "lovelo";
    display: block;
}
.st0, .st2 , g {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #FFF;
    fill: #FFF;
}
.st1{
  fill: #D8383F;
}

svg:not(:root) {
    overflow: hidden;
}
.container-int {
    margin-left: 35px;
    margin-right: 25px;
    max-height: 493px;

}
.englobeur {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-top: 40px;

}
.englobeur a {
    color: inherit;
    text-decoration: none;
    display: flex;
    padding-top: 21px;
}
.icon-tower:hover, .icon:hover{
  color: #D8383F;
}
.icon-tower::before {
    content: "\e933";
    width: 100%;
}
.englobeur1 .icon {
    color: #1D1D1E;
    font-size: 70px;

}
.englobeur1 p{
  padding-top: 21px;

}
.icon {
    font-family: 'pba';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

.text-headband-light {
    font-family: "lovelo";
    color: #1D1D1E;
    font-size: 24px;

    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
}
.englobeur2 {
  padding: 0;

}
.icon-globe::before {
    content: "\e91a";
}

   /*========MEDIA QUERIES DESKTOP LARGE========*/
   /*============================================*/

   @media (min-width: 1280px)
   {
     .container {
       width: 1280px;
       margin: 0 auto;
       padding: 0;
     }
     .main-container {
       width: 1280px;
       margin: 0 auto;
       display: block;
     }
        /*----------------- START STYLE HEADER FOR LARGE DESKTOP-------*/

     .nav-mobile-right
     {
       display:none;
     }
     .no-mobile
     {
       display: block;
     }
     .entete
    {
       background-color: rgb(0,0,0) ;
       justify-content: flex-start;
       align-items: center;
       flex-direction: row;
       position: fixed;
       z-index: 900;
     }
     .titre1
     {
       width: 30%;
       height: 100%;
       margin-left: 10px;

     }
     .titre1 img
     {
       width: 100%;
       margin-top: 20px;
     }
     .menu
     {
       display: flex;
       justify-content: space-between;
       list-style-type: none;
       margin-top: 20px;
       margin-right: 0px;
     }
     .menu li
     {
       margin-left: 20px;
       margin-right: 10px;
       font-weight: bold;
       font-size: 20px;
     }

     .menu li a
     {
       text-decoration: none;
     }
     .menu li a:hover
     {
       color: rgb(216,56,63);
     }
     .form
     {
       width: 190px;
       height: 30px;
       margin-left: 10px;

     }
     .search
     {
       width: 100%;
       height: 100%;
      position: relative;
     }
     .search .icon
     {
       color:white;
       top: 0px;
       right: 0px;
       position: absolute;

     }

     .form input[type=search]
     {
       background-color: black;
       border:4px solid white;
       width: 100%;
       height: 100%;
       color: white;
     }
    .search:hover input[type=search]
    {
      border-color: rgb(216,56,63);
    }
    .search:hover .search .icon, .langueselect ul li a:hover
    {
      color: rgb(216,56,63);
    }
    .langueselect
    {
      margin-top: 20px;
      height: 50px;
      margin-left: 20px;
      position: relative;
    }
    .langueselect  ul
    {
      list-style-type: none;
    }
    .langueselect ul li a
    {
      font-size: 20px;
      color: white;
     text-decoration: none;
    }

    .langueselect ul li .fa, .langueselect ul li a
    {
       color: white;
    }

    .langueselect ul li .fa
    {
      font-size: 15px;
      position: absolute;
      left: 10px;
      bottom: 20px;
     }
     .logo-palais
     {

       margin-right: 20px;
       background-position: right;
     }
     /*---------STYLE PRESENTATION FOR  LARGE DESKTOP---------*/

    .titre-blanc
    {
    display: none;
    }
    #presentation
    {

     display:flex;
    flex-direction: row;
    justify-content: space-around;
     align-items: flex-start;

    }



    #presentation .visiter, #presentation .collections
    {
    margin-top: 0px;

    width: 40%;
    height: 320px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    }
    #presentation .les-dessins, .les-2-dessins
    {
    margin-top: 0em;
    }
    .dersect
    {
    margin-bottom: 0px;
    }
    #presentation .visiter #dersert-bas
    {
    margin-top: 0px;
    }
    #presentation .collections .collection
    {
    margin-bottom: 30px;
    }


    .les-dessins
    {
    margin-bottom: 4em;
    }
    .les-3-dessins
    {

    border-right:  14px solid white;
    border-top: 14px solid white;
    }
    .visiter .collection
    {
     margin-top: 2em;
    }




    /*------------STYLE VIDEO FOR LARGE DESKTOP------*/


    #evenement .carousel-inner .carousel-item
    {
    height: 500px;
    }

    /*Carousel Caption Contents*/

    #evenement .carousel-inner .carousel-item .carousel-caption
    {
    margin-bottom: 1em;
    }

    #evenement .carousel-inner .carousel-item .carousel-caption p:nth-child(1)
    {
    font-size: 20px;
    margin-bottom: 1.5em;
    }

    #evenement .carousel-inner .carousel-item .carousel-caption article
    {
    padding-top: 2.5em;
    }

    #evenement .carousel-inner .carousel-item .carousel-caption i
    {
    font-size: 50px
    }

    #evenement .carousel-inner .carousel-item .carousel-caption h2
    {
    font-size: 46px;
    margin-top: 0.3em;
    }

    #evenement .carousel-inner .carousel-item .carousel-caption .prez
    {
    font-size: 31px;
    }

    #evenement .carousel-inner .carousel-item .carousel-caption .date
    {
    font-size: 20px;
    }

    #evenement .carousel-inner .carousel-item .carousel-caption .lockbartop, #evenement .carousel-inner .carousel-item .carousel-caption .lockbarbot
    {
    height: 28px;
    border-width: 16px;
    }

    #evenement #carouselIndicators ol
    {
    margin: 0;
    padding-left: 860px;
    }

    #oeuvreclé div
    {
    width: 25%;
    display: inline-flex;
    margin-right: -3.8px;
    }
    .englobeur{
      border: none;
    }
    .englobeur p{
      font-size: 24px;
    }
    .expander-light {
      position: relative;
      height: 150px;
      width: 100%;
      background-color: #FFF;
    }
    .expander-light .englobeur1 {
      margin-left: 30px;
    }
}

@media (min-width:760px) {

  .expander-light {
    height: 150px;
  }
  .expander-light .englobeur1 {
    margin-left: 30px;
  }
  .englobeur{
    border: none;
  }
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
