/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*=====================================================================
import font-face
=====================================================================*/
@font-face {
  font-family: "lovelo";
  src: url("../../_fonts/Lovelo_Black.otf");
}
@font-face {
  font-family: "novecento";
  src: url("../../_fonts/Novecentosanswide-Book.otf");
}
/*=============================================================================
agenda
=================================================================================*/
/* line 30, ../sass/screen.scss */
#agenda {
  padding-top: 100px;
}
/* line 32, ../sass/screen.scss */
#agenda .calendar {
  width: 50px;
  height: 50px;
}

/*==============================================================================
footer
================================================================================*/
/* line 43, ../sass/screen.scss */
#footer {
  background-color: #1D1D1E;
  color: #ffffff;
  padding-top: 85px;
  /*=======================================
  width of svg clock and marker
  =========================================*/
}
/* line 47, ../sass/screen.scss */
#footer h2,
#footer p,
#footer a {
  text-transform: uppercase;
}
/* line 55, ../sass/screen.scss */
#footer .clock,
#footer .marker {
  width: 20px;
  height: 20px;
}
/* line 60, ../sass/screen.scss */
#footer .home {
  height: 30px;
}
/* line 63, ../sass/screen.scss */
#footer .center {
  width: 230px;
  margin: 20px auto !important;
}
/* line 67, ../sass/screen.scss */
#footer .center-m {
  width: 260px;
  margin: 0 auto !important;
}
/* line 71, ../sass/screen.scss */
#footer .contact {
  width: 150px;
}
/* line 74, ../sass/screen.scss */
#footer h2 {
  font-family: "lovelo";
  font-size: 15px;
}
/* line 78, ../sass/screen.scss */
#footer p {
  font-family: 'novecento';
  font-size: 13px;
  line-height: 1.6em;
  margin: 0;
}
/* line 83, ../sass/screen.scss */
#footer p span {
  font-weight: bold;
}
/* line 87, ../sass/screen.scss */
#footer svg {
  height: 30px;
  width: 30px;
}
/* line 91, ../sass/screen.scss */
#footer a {
  margin-right: 5px;
  font-family: "novecento";
  font-size: 13px;
  fill: white;
  color: white;
  text-decoration: none;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 99, ../sass/screen.scss */
#footer a:hover {
  color: #D8383F;
  fill: #D8383F;
}

/*======================================================================================
tablet format
=========================================================================================*/
/*================================================================================================
desktop format
===================================================================================================*/
@media only screen and (min-width: 1200px) {
  /*===================================================================================
footer
======================================================================================*/
  /* line 8, ../sass/_desktop.scss */
  #footer {
    /*.nevenceto{
      font-family:"lovelo";
      color: white;
      fill: white;
      &:hover{
        color: #2aabd2;
        fill: red;
      }
    }*/
  }
  /* line 9, ../sass/_desktop.scss */
  #footer h2 {
    font-size: 30px;
  }
  /* line 12, ../sass/_desktop.scss */
  #footer img {
    height: 50px;
  }
  /* line 15, ../sass/_desktop.scss */
  #footer .musee {
    height: 60px;
  }
  /* line 18, ../sass/_desktop.scss */
  #footer .mt_3 {
    margin-top: 10px;
  }
  /* line 21, ../sass/_desktop.scss */
  #footer .border {
    border-top: 2px solid white;
  }
  /* line 33, ../sass/_desktop.scss */
  #footer .left {
    text-align: right;
  }
  /* line 36, ../sass/_desktop.scss */
  #footer .mecene {
    font-size: 10px;
    color: #4E5257;
  }
}
