/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*=====================================================================
import font-face
=====================================================================*/
@font-face {
  font-family: "pba";
  font-style: normal;
  font-weight: normal;
  src: url("../../_fonts/pba.ttf") format("truetype");
}
@font-face {
  font-family: "novecento";
  font-style: normal;
  font-weight: normal;
  src: url("../../_fonts/novecentowide-book-webfont.woff2");
}
@font-face {
  font-family: "loveloblack";
  font-style: normal;
  font-weight: normal;
  src: url("../../_fonts/Lovelo_Black.woff") format("woff");
}
@font-face {
  font-family: "open_sanslight";
  font-style: normal;
  font-weight: normal;
  src: url("../../_fonts/opensans-light-webfont.woff2");
}
@font-face {
  font-family: "atc_overlookregular";
  font-style: normal;
  font-weight: normal;
  src: url("../../_fonts/atcoverlook-regular.woff");
}
/*=============================================================================
agenda
=================================================================================*/
/* line 49, ../sass/screen.scss */
#agenda {
  padding-top: 30px;
}
/* line 51, ../sass/screen.scss */
#agenda .nevenceto {
  font-family: "open_sanslight";
}
/* line 54, ../sass/screen.scss */
#agenda h1 {
  font-size: 13px;
  font-family: "loveloblack";
  width: 120px;
  margin: 0 auto;
}
/* line 60, ../sass/screen.scss */
#agenda .calendar {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
/* line 65, ../sass/screen.scss */
#agenda .point {
  width: 4%;
  height: 25px;
  margin: 10px auto;
}
/* line 71, ../sass/screen.scss */
#agenda svg {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  fill: none;
  stroke: #000000;
  stroke-width: 14.06499958;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}
/* line 83, ../sass/screen.scss */
#agenda svg:hover {
  stroke: #D8383F;
}
/* line 87, ../sass/screen.scss */
#agenda .border {
  margin: 30px auto;
  text-align: center;
  font-size: 15px;
  font-family: "loveloblack";
  border: 3px solid black;
  height: 35px;
  width: 70%;
}
/* line 96, ../sass/screen.scss */
#agenda .visu {
  margin: 0;
  padding: 0;
  background-size: cover;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 99, ../sass/screen.scss */
#agenda .visu img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 270px;
}
/* line 107, ../sass/screen.scss */
#agenda .visu:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 red);
  filter: opacity(0.5) drop-shadow(0 0 0 red);
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 112, ../sass/screen.scss */
#agenda .pink {
  border-top: 2px solid #D3336C;
}
/* line 113, ../sass/screen.scss */
#agenda .pink img {
  fill: #D3336C;
}
/* line 118, ../sass/screen.scss */
#agenda .purple {
  border-top: 2px solid #935297;
}
/* line 121, ../sass/screen.scss */
#agenda .top {
  padding-top: 30px;
}
/* line 123, ../sass/screen.scss */
#agenda .top:after {
  content: '';
  background: url("../../img/agenda/dessin-2.svg");
}
/* line 127, ../sass/screen.scss */
#agenda .top .lovelo-s {
  font-family: "loveloblack";
  font-size: 12px;
  text-transform: lowercase !important;
}
/* line 132, ../sass/screen.scss */
#agenda .top .lovelo {
  font-family: "loveloblack";
  margin: 0;
}
/* line 135, ../sass/screen.scss */
#agenda .top .lovelo span {
  font-family: "novecento";
  color: #D8383F;
}
/* line 140, ../sass/screen.scss */
#agenda .top .nevenceto {
  font-family: "open_sanslight";
}
/* line 144, ../sass/screen.scss */
#agenda .bordered {
  height: 55px !important;
  padding: 10px;
  width: 50%;
  border: 3px solid black;
  margin-bottom: 35px;
}
/* line 150, ../sass/screen.scss */
#agenda .bordered img {
  height: 40px;
}

/*====================================================================================================
visited page
========================================================================================================*/
/* line 160, ../sass/screen.scss */
#visited .black {
  padding: 0;
  margin: 0;
  background-color: #1D1D1E;
}
/* line 164, ../sass/screen.scss */
#visited .black .d-block {
  margin: 0 auto;
  width: 80%;
}
/* line 168, ../sass/screen.scss */
#visited .black p {
  background-color: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
/* line 173, ../sass/screen.scss */
#visited .black p span {
  font-family: 'novecento';
  font-weight: bold;
}
/* line 178, ../sass/screen.scss */
#visited .black .list.hover {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  color: #D8383F;
}
/* line 186, ../sass/screen.scss */
#visited .icon-parcours {
  position: absolute;
  top: 20px;
  left: 45%;
  width: 50px;
  height: 50px;
}
/* line 192, ../sass/screen.scss */
#visited .icon-parcours:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '\e922';
  font-size: 30px;
}
/* line 200, ../sass/screen.scss */
#visited .visite {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 35px;
  font-family: "atc_overlookregular";
}
/* line 206, ../sass/screen.scss */
#visited .parcours {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1D1D1E;
}
/* line 211, ../sass/screen.scss */
#visited .parcours p {
  padding-top: 80px;
  width: 270px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  font-size: 25px;
}
/* line 219, ../sass/screen.scss */
#visited .parcours img {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
}
/* line 226, ../sass/screen.scss */
#visited .second-level {
  margin: 0;
  padding: 0;
}
/* line 229, ../sass/screen.scss */
#visited .second-level img {
  width: 100%;
  height: 430px !important;
}
/* line 234, ../sass/screen.scss */
#visited .path {
  background-color: #fff;
  height: 130px;
  width: 50%;
  padding: 26.5px 26.5px 0 26.5px;
  position: absolute;
  top: 200px;
  left: 150px;
}
/* line 243, ../sass/screen.scss */
#visited .path:after {
  font-family: "pba";
  content: "\e907";
}
/* line 247, ../sass/screen.scss */
#visited .path .icon {
  position: absolute;
  top: 0;
}

/*==============================================================================
footer
================================================================================*/
/* line 259, ../sass/screen.scss */
#footer {
  background-color: #1D1D1E;
  color: #ffffff;
  padding-top: 85px;
  /*=======================================
  width of svg clock and marker
  =========================================*/
}
/* line 263, ../sass/screen.scss */
#footer h2,
#footer p,
#footer a {
  text-transform: uppercase;
}
/* line 271, ../sass/screen.scss */
#footer .clock,
#footer .marker {
  width: 20px;
  height: 20px;
}
/* line 276, ../sass/screen.scss */
#footer .home {
  height: 30px;
}
/* line 279, ../sass/screen.scss */
#footer .center {
  width: 230px;
  margin: 20px auto !important;
}
/* line 283, ../sass/screen.scss */
#footer .center-m {
  width: 260px;
  margin: 0 auto !important;
}
/* line 287, ../sass/screen.scss */
#footer .contact {
  width: 150px;
}
/* line 290, ../sass/screen.scss */
#footer h2 {
  font-family: "lovelo";
  font-size: 15px;
}
/* line 294, ../sass/screen.scss */
#footer p {
  font-family: 'novecento';
  font-size: 13px;
  line-height: 1.6em;
  margin: 0;
}
/* line 299, ../sass/screen.scss */
#footer p span {
  font-weight: bold;
}
/* line 303, ../sass/screen.scss */
#footer svg {
  height: 30px;
  width: 30px;
}
/* line 307, ../sass/screen.scss */
#footer a {
  margin-right: 5px;
  font-family: "novecento";
  font-size: 13px;
  fill: white;
  color: white;
  text-decoration: none;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 315, ../sass/screen.scss */
#footer a:hover {
  color: #D8383F;
  fill: #D8383F !important;
}

/*======================================================================================
tablet format
=========================================================================================*/
/*================================================================================================
desktop format
===================================================================================================*/
@media only screen and (min-width: 1200px) {
  /*=============================================================================
  agenda
  =================================================================================*/
  /* line 9, ../sass/_desktop.scss */
  #agenda .bordered {
    width: 160px;
    float: right;
  }
  /* line 14, ../sass/_desktop.scss */
  #agenda .top {
    position: relative;
  }
  /* line 16, ../sass/_desktop.scss */
  #agenda .top .angle {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -17px;
    right: -20px;
    width: 70px;
    height: 70px;
  }

  /*==========================================================================================
  visited page
  ===========================================================================================*/
  /* line 32, ../sass/_desktop.scss */
  #visited .img-visited {
    position: relative;
  }
  /* line 34, ../sass/_desktop.scss */
  #visited .img-visited img {
    width: 100%;
  }
  /* line 37, ../sass/_desktop.scss */
  #visited .img-visited p {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-transform: uppercase;
    font-family: "atc_overlookregular";
    line-height: 20px;
    font-size: 23px;
    width: 290px;
    height: 140px;
    background-color: #fff;
    color: black;
    position: absolute;
    bottom: 50px;
    right: 20px;
    padding: 50px 0 0 30px;
  }
  /* line 51, ../sass/_desktop.scss */
  #visited .img-visited p span {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  /* line 59, ../sass/_desktop.scss */
  #visited .second-level img {
    height: 715px !important;
  }
  /* line 65, ../sass/_desktop.scss */
  #visited .icon-parcours {
    position: absolute;
    top: 20px;
    left: 36%;
    width: 70px;
    height: 70px;
  }
  /* line 71, ../sass/_desktop.scss */
  #visited .icon-parcours:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: '\e922';
    font-size: 50px;
  }
  /* line 80, ../sass/_desktop.scss */
  #visited .container-fluid .col-xl-3 {
    margin: 0;
    padding: 0;
  }
  /* line 84, ../sass/_desktop.scss */
  #visited .container-fluid img {
    width: 100%;
  }

  /*===================================================================================
footer
======================================================================================*/
  /* line 92, ../sass/_desktop.scss */
  #footer {
    /*.nevenceto{
      font-family:"lovelo";
      color: white;
      fill: white;
      &:hover{
        color: #2aabd2;
        fill: red;
      }
    }*/
  }
  /* line 93, ../sass/_desktop.scss */
  #footer h2 {
    font-size: 30px;
  }
  /* line 96, ../sass/_desktop.scss */
  #footer img {
    height: 50px;
  }
  /* line 99, ../sass/_desktop.scss */
  #footer .musee {
    height: 60px;
  }
  /* line 102, ../sass/_desktop.scss */
  #footer .mt_3 {
    margin-top: 10px;
  }
  /* line 105, ../sass/_desktop.scss */
  #footer .border {
    border-top: 2px solid white;
  }
  /* line 117, ../sass/_desktop.scss */
  #footer .left {
    text-align: right;
  }
  /* line 120, ../sass/_desktop.scss */
  #footer .mecene {
    font-size: 10px;
    color: #4E5257;
  }
}
